<!DOCTYPE html>
<html>
<head>
  <title>RoadSoda</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="application.css">

</head>

<body>

	<div class="header">

		<img src="/assets/images/WhatisHeader.png" alt="What is Road Soda?">
	
	</div>

	<article>

		<img src="SOME PICTURE" alt="SOME TEXT">

		<pre>

			BLAH BLAH PREFORMATTED TEXT HERE BLAH BLAH

		</pre>

	</article>	

	<div class="header" class="2ndheader">

		<img src="/assets/images/WhoIsHeader.png" alt="Who Is Road Soda">

	</div>

	<article>

		<img src="SOME IMAGE HERE" alt="SOME TEXT HERE">

		<pre>

			BLAH BLAH SOME MORE TEXT HERE BLAH BLAH

		</pre>

	</article>

</body>

</html>
